@charset "UTF-8";
details summary {
  cursor: pointer; }
  details summary h1 {
    display: inline;
    margin-right: 10px; }

details, summary {
  display: block; }

summary {
  cursor: pointer; }

summary:hover {
  background: #e7e8ea;
  cursor: pointer; }

.no-details details > * {
  display: none; }

.no-details details > summary:before {
  float: left;
  width: 20px;
  content: '► '; }

.no-details details.open > summary:before {
  content: '▼ '; }

/* Make sure summary remains visible */
.no-details details summary {
  display: block; }
