extends layout.pug

block dashboardBuild
    script.
        dashboard.buildHeader({
            "script_id": 71,
            "script_name": "mc",
            "script_stages": 1,
            "freeplay_links": [],
            "id": 534,
            "position": 1,
            "name": "",
            "title": "",
            "levels": [
                        {
                            "id": 1122,
                            "position": 1,
                            "kind": "puzzle",
                            "title": 1,
                            "url": "/levels/mc/1",
                            "previous": false
                        },
                        {
                            "id": 1106,
                            "position": 2,
                            "kind": "puzzle",
                            "title": 2,
                            "url": "/levels/mc/2"
                        },
                        {
                            "id": 1126,
                            "position": 3,
                            "kind": "puzzle",
                            "title": 3,
                            "url": "/levels/mc/3"
                        },
                        {
                            "id": 1107,
                            "position": 4,
                            "kind": "puzzle",
                            "title": 4,
                            "url": "/levels/mc/4"
                        },
                        {
                            "id": 1123,
                            "position": 5,
                            "kind": "puzzle",
                            "title": 5,
                            "url": "/levels/mc/5"
                        },
                        {
                            "id": 1119,
                            "position": 6,
                            "kind": "puzzle",
                            "title": 6,
                            "url": "/levels/mc/6"
                        },
                        {
                            "id": 1124,
                            "position": 7,
                            "kind": "puzzle",
                            "title": 7,
                            "url": "/levels/mc/7",
                            "next": false
                        }
                    ],
                "finishLink": "#",
                "finishText": ""
            }
            , null, 1122, null, null, "mc");

block appConfiguration
    script.
        //<![CDATA[
        var script_path = "/es-es/mc/1";
        var appOptions = {
        "levelGameName": "Craft",
        "skinId": "craft",
        "baseUrl": "/blockly/",
        "app": "craft",
        "levelId": "custom",
        "level": {
        "startBlocks": "<xml><block type=\"when_run\" deletable=\"false\" movable=\"false\"><next><block type=\"craft_moveForward\"/></next></block></xml>",
        "skin": "craft",
        "groundPlane": [
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "dirt",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "dirt",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "dirt",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass",
            "grass"
        ],
        "groundDecorationPlane": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "flowerRose",
            "",
            "",
            "tallGrass",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "tallGrass",
            "",
            "",
            "tallGrass",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "tallGrass",
            "flowerRose",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ],
        "actionPlane": [
            "grass",
            "grass",
            "",
            "",
            "",
            "",
            "",
            "",
            "grass",
            "grass",
            "grass",
            "grass",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "grass",
            "grass",
            "",
            "",
            "treeOak",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "sheep",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "treeBirch",
            "",
            "",
            ""
        ],
        "fluffPlane": "[\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"]",
        "playerStartPosition": [
            3,
            4
        ],
        "playerStartDirection": 1,
        "verificationFunction": "function (verificationAPI) { var result = verificationAPI.isPlayerNextTo(\"sheep\"); registrarAccion(result); return result;  }",
        "instructions": "Añade un segundo comando \"avanzar\" para llegar a la oveja.",
        "isK1": false,
        "skipInstructionsPopup": false,
        "neverAutoplayVideo": false,
        "ideal": 3,
        "disableParamEditing": true,
        "disableVariableEditing": false,
        "useModalFunctionEditor": false,
        "useContractEditor": false,
        "contractHighlight": false,
        "contractCollapse": false,
        "examplesHighlight": false,
        "examplesCollapse": false,
        "examplesRequired": false,
        "definitionHighlight": false,
        "definitionCollapse": false,
        "disableExamples": false,
        "showPopupOnLoad": "playerSelection",
        "isDaytime": true,
        "availableBlocks": [
            "bedrock",
            "bricks",
            "clay",
            "oreCoal",
            "dirtCoarse",
            "cobblestone",
            "oreDiamond",
            "dirt",
            "oreEmerald",
            "farmlandWet",
            "glass",
            "oreGold",
            "grass",
            "gravel",
            "houseTopA",
            "houseRightC",
            "houseRightB",
            "houseLeftA",
            "houseRightA",
            "houseBottomA",
            "houseBottomB",
            "houseBottomC",
            "houseBottomD",
            "clayHardened",
            "oreIron",
            "oreLapis",
            "lava",
            "logAcacia",
            "logBirch",
            "logJungle",
            "logOak",
            "logSpruce",
            "obsidian",
            "planksAcacia",
            "planksBirch",
            "planksJungle",
            "planksOak",
            "planksSpruce",
            "oreRedstone",
            "sand",
            "sandstone",
            "stone",
            "tnt",
            "water",
            "wool"
        ],
        "videoKey": "mc_intro",
        "calloutJson": "[\r\n {\r\n  \"localization_key\": \"craft_run_button_callout\",\r\n  \"callout_text\": \"Hit \\\"Run\\\" to try your program\",\r\n  \"element_id\": \"#runButton\",\r\n  \"on\": \"\",\r\n  \"qtip_config\": {\r\n   \"style\": {\r\n    \"classes\": \"\"\r\n   },\r\n   \"position\": {\r\n    \"my\": \"left center\",\r\n    \"at\": \"right center\",\r\n    \"adjust\": {\r\n     \"x\": 0,\r\n     \"y\": 0\r\n    }\r\n   }\r\n  }\r\n },\r\n {\r\n  \"localization_key\": \"craft_drag_block_callout\",\r\n  \"callout_text\": \"Drag a \\\"move forward\\\" block and snap it below the other block\",\r\n  \"element_id\": \"[block-id='1']\",\r\n  \"on\": \"\",\r\n  \"qtip_config\": {\r\n   \"style\": {\r\n    \"classes\": \"no-tip\"\r\n   },\r\n   \"position\": {\r\n    \"my\": \"top left\",\r\n    \"at\": \"bottom right\",\r\n    \"adjust\": {\r\n     \"x\": 0,\r\n     \"y\": 0\r\n    }\r\n   }\r\n  }\r\n }\r\n]",
        "embed": false,
        "freePlay": false,
        "gridWidth": 10,
        "gridHeight": 10,
        "puzzle_number": 1,
        "stage_total": 14,
        "noPadding": null,
        "lastAttempt": null,
        "submittable": false
        },
        "cacheBust": false,
        "droplet": false,
        "pretty": ".min",
        "scriptId": 71,
        "scriptName": "mc",
        "fullWidth": true,
        "smallFooter": true,
        "hasI18n": true,
        "callouts": [
        {
            "id": null,
            "element_id": "#runButton",
            "created_at": null,
            "updated_at": null,
            "script_level_id": null,
            "qtip_config": "{\"style\":{\"classes\":\"\"},\"position\":{\"my\":\"left center\",\"at\":\"right center\",\"adjust\":{\"x\":0,\"y\":0}}}",
            "on": "",
            "callout_text": "Hit \"Run\" to try your program",
            "localized_text": "Dale a \"Ejecutar\" para probar el programa."
        },
        {
            "id": null,
            "element_id": "[block-id='1']",
            "created_at": null,
            "updated_at": null,
            "script_level_id": null,
            "qtip_config": "{\"style\":{\"classes\":\"no-tip\"},\"position\":{\"my\":\"top left\",\"at\":\"bottom right\",\"adjust\":{\"x\":0,\"y\":0}}}",
            "on": "",
            "callout_text": "Drag a \"move forward\" block and snap it below the other block",
            "localized_text": "Arrastra un bloque \"avanzar\" y acóplalo bajo otro bloque."
        }
        ],
        "autoplayVideo": {
        "src": "https://www.youtube.com/embed/55jADN4Y7Pg/?autoplay=1&cc_lang_pref=es&cc_load_policy=1&enablejsapi=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=1&v=55jADN4Y7Pg&wmode=transparent",
        "key": "mc_intro",
        "name": "Minecraft - Introducción",
        "download": "/videos/2015/mc/mc_intro.mp4",
        "thumbnail": "/c/video_thumbnails/154.jpg",
        "enable_fallback": true,
        "autoplay": true
        },
        "postMilestone": true,
        "serverLevelId": 1122,
        "stagePosition": 1,
        "levelPosition": 1,
        "publicCaching": false,
        "isSignedIn": false,
        "pinWorkspaceToBottom": true,
        "hasVerticalScrollbars": true,
        "showExampleTestButtons": true,
        "rackEnv": "adhoc",
        "report": {
        "fallback_response": {
            "success": {
                "timestamp": 1471884564738,
                "script_id": 71,
                "level_id": 1122,
                "total_lines": null,
                "new_level_completed": null,
                "level_path": "/levels/mc/1.html",
                "redirect": "/levels/mc/2.html",
                "design": "white_background"
            },
            "failure": {
                "timestamp": 1471884564741,
                "script_id": 71,
                "level_id": 1122,
                "message": "try again",
                "design": "white_background"
            }
        },
        "callback": ""
        }
        };
        appOptions.locale = 'es_es';
        apps.setupApp(appOptions);
        apps.load(apps.init);
        //]]>